body{
    background-color: rgb(170, 141, 105);
    background-image: url(roze4.jpg)  ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
span{
    background-color: bisque;
    color: rgb(102, 71, 33);
 }



#git{
    
